.league-detail-page {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* HEADER */
.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-actions {
  display: flex;
  gap: 10px;
}

/* CARD */
.detail-card {
  padding: 18px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* TOP */
.top {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* LEAGUE BANNER */
.league-banner {
  width: 100%;
  height: 150px;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 14px;
  background: rgba(255, 255, 255, 0.04);
}

.league-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PLATFORM SUB IMAGE */
.logo {
  width: 56px;
  height: 56px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo span {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  opacity: 0.7;
}

/* GRID */
.detail-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.box {
  padding: 15px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
}

/* STATUS */
.status.active {
  color: #4ade80;
}

.status.inactive {
  color: #ff4d6d;
}

/* MODE COLORS */
.mode.auto {
  color: #60a5fa;
}

.mode.manual {
  color: #facc15;
}

.mode.semi_auto {
  color: #a020f0;
}

/* TEAMS */
.teams {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* CYCLES */
.cycles {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cycle {
  display: flex;
  justify-content: space-between;
}

/* BUTTON */
.prediction-btn {
  padding: 12px;
  border-radius: 12px;
  border: none;

  background: linear-gradient(135deg, #a020f0, #7b2cff);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
